AuthType     Basic
AuthName     "Private Area"
require valid-user
AuthUserFile "/path/to/passwd"

# Force HTTPS

# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteCond %{HTTPS} off
#     RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# </IfModule>
